body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  height: 500px;
  width: 500px;
  background-color: lightsteelblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid {
  border: solid;
  padding: 10px;
}

img {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}

button {
  height: 30px;
  width: 80px;
  font-size: 15px;
  margin-bottom: 50px;
}

#status {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
